* {
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0;
    background-color: blanchedalmond;
}

.top_img {
    background-image: url("https://res.cloudinary.com/hellofresh/image/upload/dpr_auto,f_auto,fl_lossy,q_80,w_730/v1/hellofresh_s3/image/5a149bd6d56afa177c7396e2-cfaac55c.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}

.btm_img {
    width: 100%;
    padding-top: 90px;
}

.results img {
    margin: 10px;
    border-radius: 25px;
    border: solid brown 15px;
    position: relative;
    float: left;
    width: 350px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#main_achronym {
    font-size: 100px;
    text-align: center;
    font-family: 'Macondo', cursive;
    font-weight: bold;
    color: rgba(194, 16, 0, 0.86);
}

h1 {
    padding: 0;
    font-size: 50px;
    text-align: center;
    font-family: 'Macondo', cursive;
    font-weight: bolder;
    color: rgba(194, 16, 0, 0.86);
}

h2 {
    padding: 0;
    font-size: 40px;
    text-align: center;
    font-family: 'Macondo', cursive;
    font-weight: bold;
    color: rgba(194, 16, 0, 0.86);
}

h3 {
    padding: 0;
    font-size: 30px;
    text-align: center;
    font-family: 'Macondo', cursive;
    font-weight: bold;
    color: rgba(235, 54, 8, 0.86);
}

.results {
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: left;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: left;
    padding-top: 20px;
    font-size: 20px;
    color: rgb(163, 40, 24);
}

.recipe-title {
    font-size: 40px;
    color: rgb(155, 23, 6);
    font-weight: bolder;
}

.form-container {
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
}

#search-form {
    width: 100%;
    display: flex;
    text-align: center;
    padding-bottom: 10px;
}

form input {
    width: 100%;
    margin-right: 3px;
    font-size: 18px;
    padding: 10px;
    background-color: whitesmoke;
}

form input::placeholder {
    text-align: center;
    color: brown;
}

#submit-btn {
    background: transparent;
    border: none;
    justify-content: center;
    padding: 0;
    line-height: .5;
}

#plate-btn {
    text-align: center;
}

.search-btns {
    font-size: 30px;
}

#next_page_btn {
    color: whitesmoke;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    background-color: rgb(220, 144, 12);
    font-weight: bolder;
}

#trending_btn {
    color: whitesmoke;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    background-color: rgb(220, 78, 12);
    font-weight: bolder;
}

#rating_btn {
    color: whitesmoke;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    background-color: rgb(220, 144, 12);
    font-weight: bolder;
}

#more_btn {
    color: whitesmoke;
    padding: 5px 5px 5px 5px;
    font-size: 40px;
    background-color: rgb(220, 78, 12);
    font-weight: bolder;
}

#submit-btn-img {
    background-position: center;
    height: 60px;
    cursor: pointer;
}