* {
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0;
    background-color: blanchedalmond;
}

img {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 80vh;
    width: 100vw;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Macondo', cursive;
    font-weight: bold;
    color: rgba(227, 155, 14, 0.64);
}

.form-container {
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
}

form {
    width: 100%;
    display: flex;
}

form input {
    width: 100%;
    margin-right: 3px;
    font-size: 18px;
    padding: 10px;
    background-color: whitesmoke;
}

form button {
    width: 60px;
    font-size: 40px;
    font-weight: bolder;
    padding: 0;
    line-height: .5;
}

.dropdown {
    display: none;
    display: none;
    max-width: 444px;
    border: 1px solid #aaa;
    margin-right: auto;
    border-top: none;
}

.dropdown .suggestion {
    padding: 10px;
    display: block;
    cursor: pointer;
    font-size: 18px;
    font-family: sans-serif;
}

.dropdown .suggestion:hover,
.dropdown .suggestion:focus {
    background-color: #0072C6;
    color: #fff;
}

.results {
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.results img {
    margin: 10px;
}